@model IEnumerable<WebStore.Models.Employee>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employes</title>
</head>
<body>
    <table>
        <thead>
            <tr>id</tr>
            <tr>Имя</tr>
            <tr>Фамилия</tr>
            <tr>Отчество</tr>
            <tr>Возраст</tr>
        </thead>
        <tbody>
            @foreach(var employee in Model)
            {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Patronymic</td>
                <td>@employee.Age</td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
